{% extends 'account/base.html' %}



{% block content %}
{% load crispy_forms_tags %}
  <h1>Register Your Account</h1>


  <div class="row">
    <div class="col-md-6">
      <div class="form">

        <form method = "Post">
          <div class="inner">
            {%csrf_token%}
            {{ form|crispy }}
            <button type="submit" class =" btn btn-lg btn-dark">
              Sign Up
            </button>
          </div>
        </form>
        <div class="or">
          <h3 class = "text-center">Or</h3>
        </div>
 {% load socialaccount %}
 <div class="google">

   <a class =  " custom btn btn-block btn-primary" href="{% provider_login_url 'google' %}"> <i class="fab fa-google"></i> Google</a>
 </div>



       
        
          
      </div>     
    </div>
    <div class="col-md-6">
      <div class="content">
        <h5>Have an Account?</h5>
        <a href="{% url 'register' %}"><button class = 'btn btn-lg btn-outline-dark'>Sign In</button></a>
      </div>
    </div>
    
  </div>

  {% endblock %}